---
interface Props {
  box_id: string;
  box_title: string;
}

const { box_id, box_title } = Astro.props;
---

<div
  id={box_id}
  class="w-full grid border-white border-3 hover:border-cyan-500 rounded-3xl px-5"
>
  <div class="flex -mt-5">
    <h1 class="font-bold text-4xl bg-black px-4">{box_title}</h1>
  </div>
  <div class="px-4 pb-6 pt-2 text-2xl">
    <slot />
  </div>
</div>
