---
import Box from "./Box.astro";
---

<section
  id="content"
  class="h-full grid grid-cols-1 lg:grid-cols-2 items-start place-items-center px-10 xl:px-20 gap-8 mt-8"
>
  <Box box_id="projects" box_title="Projects">
    <div class="text-xl md:text-2xl flex-wrap pt-2 px-4 pb-4 place-content-between"
    >
      <div
        id="strain_discovery_database"
        class="project flex justify-between align-content-center -mx-3 my-2 px-3 py-1 bg-white text-black rounded-2xl hover:bg-amber-500 transition-all ease-in-out"
      >
        Strain Discovery Database
        <img id="strain_discovery_database_x" class="x hidden hover:bg-white rounded-lg " src="x-bold.svg" alt="x to close" height="32" width="32" />
      </div>
      <div
        id="strain_discovery_database_text"
        class="flex-wrap gap-5 pl-5 py-5 hidden"
      >
        <p class="font-serif text-justify text-xl">
          A database to discover microbial strains by their traits
        </p>
        <br />
        <a class="underline text-gray-500">Website</a>
        <a
          class="underline hover:text-amber-500"
          href="https://sdd.dsmz.de/docs"
          target="_blank">API</a
        >
      </div>

      <div
        id="microbial_data_standard"
        class="project flex justify-between -mx-3 my-2 px-3 py-1 bg-white text-black rounded-2xl  hover:bg-amber-500 transition-all ease-in-out"
      >
        Microbial Strain Data Standard
        <img id="microbial_data_standard_x" class="x hidden hover:bg-white rounded-lg " src="x-bold.svg" alt="x to close" height="32" width="32" />
      </div>

      <div
        id="microbial_data_standard_text"
        class="flex-wrap gap-5 pl-5 py-5 hidden"
      >
        <p class="font-serif text-justify text-xl">
          A new data standard for cultured microbial strains
        </p>
        <br />
        <a
          class="underline hover:text-amber-500"
          href="https://leibnizdsmz.github.io/microbial-data-standard/"
          target="_blank">Documentation</a
        >
        <a
          class="underline hover:text-amber-500"
          href="https://github.com/LeibnizDSMZ/microbial-data-standard"
          target="_blank">GitHub</a
        >
      </div>

      <div
        id="osiris_data"
        class="project flex justify-between -mx-3 my-2 px-3 py-1 bg-white text-black rounded-2xl  hover:bg-amber-500 transition-all ease-in-out"
      >
        Osiris Data
        <img id="osiris_data_x" class="x hidden hover:bg-white rounded-lg" src="x-bold.svg" alt="x to close" height="32" width="32" />
      </div>
      <div id="osiris_data_text" class="flex-wrap gap-5 pl-5 py-5 hidden">
        <p class="font-serif text-justify text-xl">
          An comprehensive Python library with tools for data handling and
          standardisation for OSIRIS
        </p>
        <br />
        <a
          class="underline hover:text-amber-500"
          href="https://github.com/juwitte/osiris_data"
          target="_blank">GitHub</a
        >
        <a
          class="underline hover:text-amber-500"
          href="https://osiris-app.de/"
          target="_blank">OSIRIS</a
        >
      </div>

      <div
        id="homepage"
        class="project flex justify-between -mx-3 my-2 px-3 py-1 bg-white text-black rounded-2xl  hover:bg-amber-500 transition-all ease-in-out"
      >
        This Homepage
        <img id="homepage_x" class="x hidden hover:bg-white rounded-lg" src="x-bold.svg" alt="x to close" height="32" width="32" />
      </div>
      <div id="homepage_text" class="flex-wrap gap-5 pl-5 py-5 hidden">
        <p class="font-serif text-justify text-xl">
          You are already on this website, so feel free to check out everything!
        </p>
        <br />
        <a
          class="underline hover:text-amber-500"
          href="https://github.com/juwitte/homepage"
          target="_blank">GitHub</a
        >
      </div>

      <div
        id="master"
        class="project flex justify-between -mx-3 my-2 px-3 py-1 bg-white text-black rounded-2xl  hover:bg-amber-500 transition-all ease-in-out"
      >
        Master Thesis
        <img id="master_x" class="x hidden hover:bg-white rounded-lg" src="x-bold.svg" alt="x to close" height="32" width="32" />
      </div>
      <div id="master_text" class="flex-wrap gap-5 pl-5 py-5 hidden">
        <p class="font-serif text-justify text-xl">
          I wrote a program to identify LTR retrotransposons in genome
          sequences. First, I created a proof-of-concept prototype in Python
          before programming the final version in C++.
        </p>
      </div>
    </div>
  </Box>

  <Box box_id="skills" box_title="Skills">
    <div class="text-xl md:text-2xl  flex-wrap pt-2 px-4 pb-4 place-content-between">
      <div class="-mx-3 my-2 px-3 py-1 bg-white text-black rounded-2xl ">
        Coding Languages
      </div>
      <div class="flex flex-wrap gap-7 px-5 py-2">
        <span id="skill_python" class="skill">Python</span>
        <span id="skill_js" class="skill">JavaScript</span>
        <span id="skill_ts" class="skill">TypeScript</span>
        <span id="skill_cpp" class="skill">C++</span>
      </div>

      <div class="-mx-3 my-2 px-3 py-1 bg-white text-black rounded-2xl ">
        Frontend Development
      </div>
      <div class="flex flex-wrap gap-7 px-5 py-2">
        <span id="skill_vue" class="skill">Vue</span>
        <span id="skill_astro" class="skill">Astro</span>
        <span id="skill_html" class="skill">Html</span>
        <span id="skill_css" class="skill">CSS</span>
        <span id="skill_tailwind" class="skill">Tailwind</span>
      </div>

      <div class="-mx-3 my-2 px-3 py-1 bg-white text-black rounded-2xl ">
        Backend & Data Management
      </div>
      <div class="flex flex-wrap gap-7 px-5 py-2">
        <span id="skill_datastandard" class="skill">Data Standardisation</span>
        <span id="skill_pydantic" class="skill">Pydantic</span>
        <span id="skill_fastapi" class="skill">FastAPI</span>
        <span id="skill_sql" class="skill">SQL</span>
        <span id="skill_mongo" class="skill">Mongo</span>
      </div>

      <div class="-mx-3 my-2 px-3 py-1 bg-white text-black rounded-2xl ">
        Infrastructure & Automation (DevOps)
      </div>
      <div class="flex flex-wrap gap-7 px-5 py-2">
        <span id="skill_docker" class="skill">Docker</span>
        <span id="skill_podman" class="skill">Podman</span>
        <span id="skill_make" class="skill">Make</span>
        <span id="skill_shell" class="skill">Shell</span>
      </div>
    </div>
  </Box>
</section>

<script>
  const projectSkillTable = {
    microbial_data_standard: [
      "python",
      "datastandard",
      "pydantic",
      "docker",
      "make",
      "shell",
    ],
    strain_discovery_database: [
      "vue",
      "html",
      "css",
      "fastapi",
      "python",
      "mongo",
      "podman",
      "pydantic",
      "js",
      "ts",
    ],
    osiris_data: ["python", "datastandard", "pydantic", "mongo", "make"],
    homepage: ["astro", "html", "css", "js", "tailwind"],
    master: ["cpp", "python", "make", "shell"],
  };

  const projectList = document.querySelectorAll("div.project");
  const skillList = document.querySelectorAll("span.skill");
  const xList = document.querySelectorAll("img.x");

  function close_all(){
    projectList.forEach((p) => {
        p.classList.remove("active");
        p.classList.remove("bg-amber-500");
        if (!p.classList.contains("bg-white")) {
          p.classList.add("bg-white");
        }
        document.getElementById(p.id + "_text")?.classList.add("hidden");
      });
    xList.forEach((x)  => {
        x.classList.add("hidden")
    });
    skillList.forEach((skill) => {
        skill.classList.remove("text-amber-500");
      });
  }

  xList.forEach((x)  => {
    x.addEventListener("click", (event) => {
        x.classList.add("hidden")
        close_all();
        event.stopPropagation();
    });
    
  });

  projectList.forEach((project) => {
    project.addEventListener("click", () => {
      
      close_all()

      project.classList.add("active");
      project.classList.remove("bg-white");
      project.classList.add("bg-amber-500");

      document.getElementById(project.id + "_x")?.classList.remove("hidden");
      document.getElementById(project.id + "_text")?.classList.remove("hidden");

      
      if (project.id in projectSkillTable) {
        projectSkillTable[project.id as keyof typeof projectSkillTable].forEach(
          (skill) => {
            document
              .getElementById("skill_" + skill)
              ?.classList.add("text-amber-500");
          }
        );
      }
    });
  });
</script>
