---

---

<div class="w-full grid place-items-center py-8 text-center">
        <div id="my_impress" class="bg-white text-black rounded-3xl px-3 py-1 click:-mt-15 hover:bg-amber-500">
                Impress
        </div>
</div>

<script>
    const myImpress = document.getElementById("my_impress");
    myImpress?.addEventListener("click", () => {
        myImpress.innerText = "Impress\nJulius Witte\nAueweg " + (45+9) + " - 38300 Wolfenbüttel";
    });
    myImpress?.addEventListener("mouseleave", () => {
        setTimeout(()=>{myImpress.innerText = "Impress";}, 5000)
        
    });
</script>