---

---

<div class="w-full grid place-items-center mt-20 mb-4 text-center gap-4">
  <div
    id="my_impress"
    class="bg-white text-black rounded-3xl px-3 py-1 click:-mt-15 hover:bg-amber-500 transition-all ease-in-out"
  >
    Impress
  </div>
  <div id="my_impress" class="font-serif flex gap-2 place-items-center">
    I
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      fill="#C51104"
      viewBox="0 0 256 256"
      ><path
        d="M240,102c0,70-103.79,126.66-108.21,129a8,8,0,0,1-7.58,0C119.79,228.66,16,172,16,102A62.07,62.07,0,0,1,78,40c20.65,0,38.73,8.88,50,23.89C139.27,48.88,157.35,40,178,40A62.07,62.07,0,0,1,240,102Z"
      ></path></svg
    >
    Open Source
  </div>
</div>

<script>
  const myImpress = document.getElementById("my_impress");
  var impressState = false;

  function show_impress(i: HTMLElement) {
    i.innerText =
      "Impress\nJulius Witte\nAueweg " +
      (45 + 9) +
      "\n" +
      383 * 100 +
      " Wolfenbüttel";
  }
  function hide_impress(i: HTMLElement) {
    i.innerText = "Impress";
  }

  myImpress?.addEventListener("click", () => {
    impressState = !impressState;
    impressState ? hide_impress(myImpress) : show_impress(myImpress);
  });
</script>
